.css  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 400px;
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    border: 1px solid var(--color-navbar-border);
}
.css p {
    color: var(--color-text-primary);
    font-size: 2rem;
    border-bottom: 1px solid var(--color-text-primary);
    width: 77%;
    text-align: center;
    padding-bottom: 10px;

}

.css div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 90px;
}


.css label {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-text-primary);
    font-size: 1rem;
    gap: 10px;
}

.css input {
    width: 60%;
    padding: 5px; 
    border-radius: 5px;
    border: 1px solid var(--color-navbar-border);
    color: var(--color-text-dark);
    width: 100%;
}

.css span   {
    color: var(--color-text-primary);
    font-size: 1.2rem;
    width: 100%;
}

.css button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-navbar-border);
    background-color: var(--color-navitem-bg);
    color: var(--color-text-primary);
    font-size: 1rem;
    transition: all 0.3s;
}
.css button:hover {
    background-color: var(--color-navitem-hover-bg);
    color: var(--color-navitem-hover-text);
    border: 1px solid var(--color-navitem-border-hover);
}